#footer {
  background-color: black;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.LogoPic {
  height: 50px;
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}

#logos {
}

#ThankYou {
  text-align: center;
  color: white;
}
